<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <title>About page</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>
<section>
    <nav>
    <div class="logo">
        <img src="{% static 'den.jpg'%}" alt="">
    </div>
          <ul>
            <li><a href="home">HOME</a></li>
            <li><a href="about">ABOUT</a></li>
            <li><a href="service">SERVICE</a></li>
            <li><a href="project">PROJECTS</a></li>
            <li><a href="log">SIGN IN</a></li>

           </ul>
        </nav>

</section>
<div class="container">
    <div class="about-img">
        <img src="{% static 'pic1.jpg'%}">
    </div>
    <div class="about-body">
        <div class="left-side">
            <div class="pic1">
                <img src="{% static 'about-1.jpg'%}">
            </div>
            <div class="pic2">
                <img src="{% static 'about-2.jpg'%}">

            </div>
        </div>
        <div class="right-side">
            <div class="about-head">
                <h3>ABOUT US</h3>
                <h1>We Are Leader In <br>Industrial Market</h1>

            <p class="p">Jala industrial company is an Electro-Mechanical Contracting Company. We are Saudi Arabia's BEST HVAC and electromechanical services, provider. The operations of Jala Industrial Company include several investment sectors (Industrial, Trading, and Services). Many cities could see the emergence of these activities. The most significant towns include Jeddah, Makah, Tiaf, Yonbu, Gizan, and Najran among others. Over 200 projects of varying sizes have been successfully performed by Jala Industrial Company this year.

</p>
                <div class="b">
                 <p><b>Industrial</b></p>
             </div>

                <div class="l">

             <ul>
                 <li>Design Services</li>
                 <li>Mechanical Projects Execution Services</li>
                 <li>Mechanical Projects Pricing Services</li>
                 <li>HVAC Equipment Replacement services</li>
                 <li>HVAC Systems testing, Commission and Balancing (TAB) Services</li>
             </ul>
         </div>
            </div>

        </div>
    </div>
</div>


</body>
</html>